.edit-locale-link {
  display: none !important;
  background: none !important;
  padding: 2px !important;
  margin: 0 !important;
  color: #31effe !important;
  border-radius: 2px !important;
  cursor: pointer !important;
  position: static !important;
}

.edit-locale-link:hover {
  background-color: #69696966 !important;
}

.edit-locale-link-wrapper:hover .edit-locale-link {
  display: inline !important;
}
