body {
  font-family: sans-serif;
  font-size: 0.7em;
  margin: 0;
  margin-top: 60px;
}

/* HEADER */
.header {
  margin: 0;
  padding: 1em;
  background-color: #fff;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
             -moz-box-shadow: 0 8px 6px -6px #ccc;
                  box-shadow: 0 8px 6px -6px #ccc;
}

.header h1, .header form {
  display: inline;
  vertical-align: middle;
}

.header h1 {
  margin-right: 2em;
}

.pull-right {
  float:right;
  padding-right:20px;
}
