<!DOCTYPE html>
<html>
<head>
  <title>Localizator</title>
  <%= stylesheet_link_tag    "localizator/application", media: "all" %>
  <%= javascript_include_tag "localizator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
